<?xml version="1.0"?>
<robot name="mobile_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="base_footprint">
        <collision>
          <origin rpy="0 0 3.14" xyz="0 0 0.07"/>
          <geometry>
            <box size="0.155 0.2 0.002"/>
          </geometry>
        </collision>
    </link>

    <joint name="base_link_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="base_footprint" />
        <child link="base_link" />
    </joint>

    <link name="base_link">
    <visual>
      <origin rpy="0 0 3.14" xyz="0 0 0.145 "/>
      <geometry>
        <mesh filename="package://kwj_description/stl/total.stl" scale="0.001 0.001 0.001"/> 
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="0 0 3.14" xyz="0 0 0.145" />
      <geometry>
        <mesh filename="package://kwj_description/stl/total.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    </link>   
 
</robot>
