<launch>
 <include file="$(find kwj_description)/launch/urdf.launch"/> 
 <include file="$(find kwj_bringup)/launch/kwj_bringup.launch" />
    
    <node pkg="kwj_localization" type="initial_goal" name="initial_goal" />

    <node pkg="kwj_localization" type="odom_pub" name="odom_pub">
      <param name="initialPoseReceived" type="bool" value="false"/>
    </node>
</launch>
